@import "../../../styles.scss";
.register-container {
  background-color: #f0f2f5;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

.register__header {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  &__left {
    width: 580px;
    padding-right: 32px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;

    img {
      width: 100%;
      height: 50%;
      margin-right: 32px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 28px;
      font-weight: normal;
      line-height: 32px;
      width: 500px;
    }
  }

  &__right {
    h1 {
      font-size: 40px;
      font-weight: 500;
    }
    h3 {
      font-size: 18px;
      font-weight: 400;
    }
    &__card {
      height: 100%;
      width: 400px;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 30px;

      &__content {
        padding: 5px;
        display: flex;
        flex-direction: column;

        .register-form {
          display: flex;
          flex-direction: column;
          gap: 10px;

          input {
            padding: 20px;
            outline: none;
            border: 1px solid lightgray;
            border-radius: 5px;

            &::placeholder {
              font-size: 16px;
              font-weight: normal;
            }
          }

          .register-button {
            background-color: $primary-button-color;
            padding: 15px;
            outline: none;
            border: none;
            border-radius: 7px;
            color: white;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
            cursor: pointer;
          }
        }

        // Form Ends Here

        a {
          text-decoration: none;
          color: $primary-button-color;
          text-align: center;
          border-bottom: 1px solid lightgray;
          margin-bottom: 20px;
          padding-bottom: 20px;
          cursor: pointer;
        }

        .create-account {
          background-color: $success-button-color;
          display: inline-block;
          align-self: center;
          outline: none;
          border: none;
          border-radius: 7px;
          padding: 15px 30px;
          color: white;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }

    .tagline {
      text-align: center;
      letter-spacing: 0.7px;
    }
  }

  // right header ends
}

// header ends

.register__footer {
  height: 30vh;
  align-self: flex-end;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
