<div class="register-container">
  <header class="register__header">
    <div class="register__header__left">
      <img
        alt="logo"
        src="https://i0.wp.com/www.euroscientist.com/wp-content/uploads/2019/06/cropped-social-media-3846597_1280-1.png?resize=672%2C372&ssl=1"
      />
      <h2>
        Facebook helps you connect and share with the people in your life.
      </h2>
    </div>
    <div class="register__header__right">
      <h1>Create an account</h1>
      <h3>It's quick and easy.</h3>
      <mat-card class="register__header__right__card">
        <mat-card-content class="register__header__right__card__content">
          <form
            #form="ngForm"
            (ngSubmit)="register(form)"
            class="register-form"
          >
            <input
              name="username"
              [(ngModel)]="formData.username"
              placeholder="User name"
              required
              type="text"
              (ngModelChange)="modelChanged($event)"
              [style.border-color]="checkUserName ? 'red' : ''"
            />
            <p *ngIf="checkUserName" class="validate__text">
              User already used !!
            </p>
            <input
              name="password"
              [(ngModel)]="formData.password"
              placeholder="Password"
              required
              type="password"
            />
            <input
              name="confirmpassword"
              [(ngModel)]="formData.confirmpass"
              placeholder="Confirm password"
              required
              type="password"
              [style.border-color]="validateConfirm ? 'red' : ''"
            />
            <input
              name="name"
              [(ngModel)]="formData.name"
              placeholder="Name"
              required
              type="text"
            />
            <input
              name="email"
              [(ngModel)]="formData.email"
              placeholder="Email address"
              required
              type="text"
              [style.border-color]="
                formData.email !== '' && !validateEmail(formData.email)
                  ? 'red'
                  : ''
              "
            />
            <input
              name="birthday"
              [(ngModel)]="formData.date"
              placeholder="Your birthday"
              required
              type="date"
            />
            <input
              name="phone"
              [(ngModel)]="formData.phone"
              placeholder="Phone number"
              required
              type="text"
            />

            <button
              [disabled]="form.invalid || form.pending"
              class="register-button"
              *ngIf="!form.pending"
              type="submit"
              [style.background-color]="form.invalid ? 'grey' : '#1877f2'"
            >
              Register
            </button>
          </form>
        </mat-card-content>
      </mat-card>

      <p class="tagline">
        <strong routerLink="/login">Login</strong> for a celebrity, band or
        business.
      </p>
    </div>
  </header>
</div>
