<div class="container-fluid">
  <div class="row">
    <!-- LEFT -->
    <div class="leftNews col-3">
      <div class="leftNews-container">
        <!-- INPUT -->
        <div class="input-search">
          <mat-icon>search</mat-icon>
          <input matInput placeholder="Search" class="inputSearch" />
        </div>
        <!-- USER INFORMATION -->
        <div class="userInformation">
          <div class="img-user">
            <img
              src="https://chiase24.com/wp-content/uploads/2020/03/Tong-hop-hinh-anh-Girl-xinh-Au-My-dep-nhat-19.jpg"
            />
          </div>
          <h1 class="h1-tanya">Tanya Shah</h1>
          <p class="photgrapher">Photograper</p>
        </div>
        <div class="menu-items">
          <ul *ngFor="let item of data">
            <div *ngIf="item.name === 'Logout'; then liLogout; else li"></div>
            <ng-template #liLogout>
              <li (click)="logout()">
                <mat-icon>{{ item.icon }}</mat-icon>
                <p>{{ item.name }}</p>
              </li>
            </ng-template>
            <ng-template #li>
              <li>
                <mat-icon>{{ item.icon }}</mat-icon>
                <p>{{ item.name }}</p>
              </li>
            </ng-template>
          </ul>
        </div>
      </div>
    </div>

    <!-- MIDDLE -->
    <div class="centerNews col-6">
      <!-- Input News -->
      <div class="row mt-3">
        <form [formGroup]="newPost" class="col-12">
          <textarea
            class="add-news"
            type="text"
            placeholder="Write Something ..."
            formControlName="message"
          ></textarea>
          <div *ngIf="onAddMedia" class="add-media d-flex align-items-center">
            <div id="preview" class="preview">
              <img src="https://via.placeholder.com/150" class="img-fluid" />
            </div>
            <div class="ml-3">
              <button type="button" (click)="fileInput.click()">
                <span>Upload Image</span>
                <input
                  #fileInput
                  type="file"
                  (change)="onFileInput($event)"
                  style="display: none"
                />
              </button>
            </div>
          </div>
          <div class="tool-tip d-flex justify-content-between">
            <div class="tool-tip__icon d-flex align-items-center">
              <mat-icon>attach_file</mat-icon>
              <mat-icon>my_location</mat-icon>
              <mat-icon (click)="addPhoto()">add_photo_alternate</mat-icon>
            </div>
            <div class="tool-tip__button-post">
              <button
                (click)="createPost()"
                [style.backgroundColor]="
                  newPost.invalid ? '#6cbcf9' : '#0090ff'
                "
                [disabled]="newPost.invalid"
                mat-flat-button
              >
                Post
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- News Feed -->
      <app-new-feed-post></app-new-feed-post>
    </div>
    <!-- RIGHT -->
    <div class="rightNews col-3">
      <div class="box-top">
        <div class="image-right">
          <img
            src="https://danongonline.com.vn/wp-content/uploads/2018/02/girl-xinh-chau-au-2.jpg"
          />
        </div>
        <p class="popular">Popular</p>
        <h1>Best Dressed this week</h1>
        <h5>
          Overseas, Natalie Portman gave the mo dark florals some love, stepping
          out in a black Valentino
        </h5>
        <p class="footer">30 Jan 2016</p>
      </div>
      <!-- BOTTOM -->
      <div class="box-bottom">
        <div class="header-text">
          <h1>Suggeted people</h1>
          <span>:</span>
        </div>
        <div class="user-suggested">
          <div class="user1" *ngFor="let suggest of dataSuggeted">
            <div class="data-img">
              <img src="{{ suggest.img }}" />
            </div>
            <div class="informa">
              <h2>{{ suggest.name }}</h2>
              <h3>{{ suggest.major }}</h3>
            </div>
            <div class="iconData">
              <mat-icon>control_point</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
