.leftNews {
  // background-color: #ccffff;
  height: 100%;
  min-height: 100vh;
  background-color: #eeeeee47;
  .leftNews-container {
    background-color: white;
    padding: 28px;
    box-shadow: 5px 10px 18px #e8e8e8;
    border-radius: 10px;
  }

  .img-user {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100px;
    }
  }
  .menu-items {
    ul {
      padding-left: 20px;
      margin-top: 20px;
      li {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #808080eb;
        margin-bottom: 31px;
        letter-spacing: 1px;
        font-weight: 500;
        p {
          margin-bottom: 0;
          padding-left: 25px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .h1-tanya {
    font-family: cursive;
  }
  .photgrapher {
    font-size: 18px;
    font-family: emoji;
    color: #808080b5;
  }
  .input-search {
    display: flex;
    align-items: center;
    margin-bottom: 87px;
    .mat-icon {
      color: #808080eb;
    }

    .inputSearch {
      border: none;
      background-color: white;
      color: #80808078;
      padding: 0px;
      font-size: 18px;
      margin-left: 20px;
    }
  }
}
.centerNews {
  padding: 1rem 0;
  align-items: center;
  min-height: 100vh;
  .add-news {
    width: 100%;
    height: 8rem;
    border: none;
    background-color: #e5e5e5;
    padding: 1rem;
  }
  .add-media {
    background-color: #e5e5e5;
    padding: 1rem;
    margin-top: -10px;
    .preview {
      height: 8rem;
      width: 8rem;
    }
    button {
      padding: 1rem;
      border: none;
      border-radius: 1rem;
      background-color: #000;
      color: #fff;
    }
  }
  .tool-tip {
    margin-top: -10px;
    padding: 1rem;
    background-color: #e5e5e5;
    .mat-icon:not(:last-child) {
      margin-right: 2rem;
    }
    .mat-icon {
      font-size: 18px;
    }
    .mat-icon:hover {
      cursor: pointer;
    }
    &__button-post {
      button {
        color: #fff;
      }
    }
  }
}
.rightNews {
  background-color: #eeeeee47;
  min-height: 100vh;
  .box-top {
    background-color: white;
    padding: 13px;
    box-shadow: 5px 10px 18px #e8e8e8;
    border-radius: 10px;
    padding: 13px;
    .image-right {
      width: 100%;
      height: 14em;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .popular {
      padding-top: 20px;
      color: #007bffc2;
      font-size: 17px;
    }
    h1 {
      font-weight: 500;
      letter-spacing: 1px;
    }
    h5 {
      font-family: cursive;
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 1.5;
      color: #777777c7;
    }
    .footer {
      text-align: end;
      padding-top: 12px;
      font-size: 15px;
      color: #80808063;
    }
  }
  .box-bottom {
    margin-top: 3em;
    background-color: white;
    padding: 13px;
    box-shadow: 5px 10px 18px #e8e8e8;
    border-radius: 10px;
    .header-text {
      display: flex;
      justify-content: space-between;
      padding: 25px 0;
      h1 {
        font-family: system-ui;
        font-weight: 500;
      }
      span {
        font-size: 36px;
        font-weight: bold;
        color: grey;
        padding-right: 30px;
      }
    }
    .user-suggested {
      .user1 {
        display: flex;
        margin-bottom: 14px;
        .data-img {
          width: 60px;
          height: 60px;
          margin-bottom: 20px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100px;
          }
        }
        .informa {
          margin-left: 20px;
          width: 49%;
          h2 {
            color: #007bffc2;
            margin: 0;
            font-size: 21px;
            font-weight: bold;
            font-family: cursive;
            letter-spacing: 1.3px;
          }
          h3 {
            font-size: 17px;
            line-height: 1.5;
            color: #777777c7;
            padding-top: 5px;
          }
        }
        .iconData {
          display: flex;
          width: 30%;
          mat-icon {
            font-size: 47px;
            width: 100%;
            text-align: right;
            color: #777777c7;
          }
        }
      }
    }
  }
}
