<div *ngIf="posts.length > 0">
  <div class="wrapper-post" *ngFor="let item of posts">
    <div class="d-flex title justify-content-between">
      <div class="d-flex align-items-center">
        <div class="avatar">
          <img
            src="{{ item.user_post[0].avatar }}"
            alt="avatar"
            class="img-fluid"
          />
        </div>
        <div class="info">
          <div class="name">
            {{ item.user_post[0].name }}
          </div>
          <div class="time-ago">
            <p>
              {{ item.createdAt | date }}
              at
              {{ item.createdAt | date: "HH:mm" }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <p>
        {{ item.massage }}
      </p>
    </div>
    <div *ngIf="item.imageLink !== ''" class="post-image d-flex">
      <div class="image">
        <img
          src="{{ REST_API_SERVER + item.imageLink }}"
          alt="picture"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="interact d-flex">
      <div class="col-6 d-flex justify-content-between" style="padding: 0">
        <div class="interact__details d-flex">
          <!-- <mat-icon>thumb_up</mat-icon>
          <span>1234</span> -->
          <div
            class="btn-like"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon [ngClass]="item.liked ? 'liked' : ''">thumb_up</mat-icon>
          </div>
          <mat-menu #menu="matMenu" yPosition="above">
            <div class="d-flex list-reaction" style="padding: 0 1rem">
              <button
                mat-menu-item
                [style.backgroundColor]="
                  item.reactId === 1 ? '#fffb9b' : '#fff'
                "
                (click)="addLike(item._id, 1)"
              >
                👍
              </button>
              <button
                mat-menu-item
                [style.backgroundColor]="
                  item.reactId === 2 ? '#fffb9b' : '#fff'
                "
                (click)="addLike(item._id, 2)"
              >
                😂
              </button>
              <button
                mat-menu-item
                [style.backgroundColor]="
                  item.reactId === 3 ? '#fffb9b' : '#fff'
                "
                (click)="addLike(item._id, 3)"
              >
                😮
              </button>
              <button
                mat-menu-item
                [style.backgroundColor]="
                  item.reactId === 4 ? '#fffb9b' : '#fff'
                "
                (click)="addLike(item._id, 4)"
              >
                😢
              </button>
              <button
                mat-menu-item
                [style.backgroundColor]="
                  item.reactId === 5 ? '#fffb9b' : '#fff'
                "
                (click)="addLike(item._id, 5)"
              >
                😡
              </button>
            </div>
          </mat-menu>
          <span>{{ item.person_like.length }}</span>
        </div>
        <div class="interact__details d-flex">
          <mat-icon>mode_comment</mat-icon>
          <span>{{ item.person_share.length }}</span>
        </div>
        <div class="interact__details d-flex">
          <mat-icon>share</mat-icon>
          <span>{{ item.person_comment.length }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
