.wrapper-post {
  padding: 0 2rem;
  margin-top: 5rem;
  .title {
    .avatar {
      height: 4rem;
      width: 4rem;
      img {
        border-radius: 50%;
      }
    }
    .info {
      margin-left: 1rem;
      .name {
        font-weight: bold;
        font-size: 20px;
      }
      .job-desc {
        margin-top: 0.5rem;
        font-size: 15px;
        color: #757575;
      }
    }
    .time-ago {
      margin-top: 0.5rem;
      color: #757575;
      font-size: 13px;
    }
  }
  .content {
    margin-top: 2rem;
    color: #757575;
    p {
      line-height: 2;
    }
  }
  .post-image {
    .image {
      width: 10rem;
      // height: 10rem;
    }
    .image:not(:last-child) {
      margin-right: 1rem;
    }
  }
  .interact {
    margin-top: 2rem;
    &__details {
      .btn-like:hover {
        cursor: pointer;
      }
      mat-icon.liked {
        color: #07a4ff;
      }
      .mat-icon {
        font-size: 18px;
        color: #757575;
      }
      span {
        margin-left: 2px;
        color: #757575;
      }
    }
  }
}
::ng-deep.mat-menu-panel {
  max-width: none !important;
}
button.mat-menu-item {
  width: unset;
  font-size: 25px;
}
