<div class="login-container">
  <header class="login__header">
    <div class="login__header__form">
      <mat-card class="login__header__form__card">
        <mat-card-content class="login__header__form__card__content">
          <form [formGroup]="loginForm" class="login-form">
            <input
              [style.border]="
                loginForm.get('username')?.invalid &&
                loginForm.get('username')?.touched &&
                'solid 2px red'
              "
              name="username"
              placeholder="Username"
              type="text"
              formControlName="username"
            />
            <p
              *ngIf="
                loginForm.get('username')?.invalid &&
                loginForm.get('username')?.touched
              "
              class="validate__text"
            >
              Username is required !
            </p>
            <input
              [style.border]="
                loginForm.get('password')?.invalid &&
                loginForm.get('password')?.touched &&
                'solid 2px red'
              "
              name="password"
              placeholder="Password"
              type="password"
              formControlName="password"
            />
            <p
              *ngIf="
                loginForm.get('password')?.invalid &&
                loginForm.get('password')?.touched
              "
              class="validate__text"
            >
              Password is required !
            </p>
            <button
              [disabled]="loginForm.invalid"
              class="login-button"
              (click)="login()"
              type="submit"
            >
              Log In
            </button>
          </form>
          <button routerLink="/register" class="create-account">
            Create New Account
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </header>
</div>
