@import "../../../styles.scss";
.login-container {
  background-color: #f0f2f5;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

.login__header {
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  &__form {
    &__card {
      width: 400px;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 30px;
      &__content {
        padding: 5px;
        display: flex;
        flex-direction: column;
        .login-form {
          display: flex;
          flex-direction: column;
          gap: 10px;
          input {
            padding: 20px;
            outline: none;
            border: 1px solid lightgray;
            border-radius: 5px;
            &::placeholder {
              font-size: 16px;
              font-weight: normal;
            }
          }
          .login-button {
            background-color: $primary-button-color;
            padding: 15px;
            outline: none;
            border: none;
            border-radius: 7px;
            color: white;
            font-size: 18px;
            font-weight: bold;
            margin: 20px 0;
            cursor: pointer;
          }
        }
        // Form Ends Here
        .create-account {
          background-color: $success-button-color;
          width: 100%;
          display: inline-block;
          align-self: center;
          outline: none;
          border: none;
          border-radius: 7px;
          padding: 15px 30px;
          color: white;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }

    .tagline {
      text-align: center;
      letter-spacing: 0.7px;
    }
  }

  // form header ends
}
