// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Dynasty-primary: mat-palette($mat-indigo);
$Dynasty-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Dynasty-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Dynasty-theme: mat-light-theme(
  (
    color: (
      primary: $Dynasty-primary,
      accent: $Dynasty-accent,
      warn: $Dynasty-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Dynasty-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* BUTTONS */
$primary-button-color: #1877f2;
$success-button-color: #42b72a;

/* OTHER COLORS */
$header-color: white;
$body-color: #f0f2f5;

.validate__text {
  color: red;
}
.invalid {
  border: 2px solid red;
}
textarea:focus,
input:focus {
  outline: none;
}
*:focus {
  outline: none;
}
.success-alert {
  background-color: #04a31f;
  span {
    color: #fff;
  }
}
.error-alert {
  background-color: #b21c2e;
  span {
    color: #fff;
  }
}
